body {
  background: #ccc;
  font-size: 0.6em;
}

.invoice-container {
  width: 21cm; /* width of A4 */
  background: #ccc;
  padding: 0; /* Give ample space from the edges */
}

h6, .invoice-container h6 {
  font-size: 1em;
}

.invoice {
  background: #fff;
  width: 100%; /* Take full width of the container */
  padding: 2cm; /* Give ample space from the edges */
}

.logo {
  width: 6cm;
}

.document-type {
  text-align: right;
  color: #444;
}

.conditions, .bottom-page {
  font-size: 0.7em;
  color: #666;
}

.invoice-container * {
  color: black !important; /* Ensure all texts are black */
}
